*{
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	color: #58585b;
}
body{
	background-image: url(../img/body-bg.jpg);
	margin: 0;
}
h1,h2,p{
	margin-top: 0;
	margin-bottom: 0;
}
h1{
	font-size: 25px;
}
h2{
	font-size: 20px;
}
p{
	font-size: 14px;
}
.container{
	width: 1190px;
	margin-left: auto;
	margin-right: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 20px 0;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 5;
}
.pull_right{
	float: right;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -1.125em;
    margin-right: -1.125em;
}
.left_panel{
	width: calc(100% * 3/12 - 2.250em);
}
.right_panel{
	width: calc(100% * 9/12 - 2.250em);
}
.gutter .left_panel, .gutter .right_panel{
	margin: 0 1.125em;
}
.margin_top{
	margin-top: 20px;
}
.panel{
	background: #fff;
    padding: 10px;    
}
.border{
	border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px #a2a2a2;
}
.panel a{
	display: block;
	padding: 10px;
	text-decoration: none;
	font-size: 14px;
	border-bottom: 2px solid transparent;
}
.panel a:hover{
	background: #F5F5F5;
}
.panel a.router-link-active{
	color: #5858fb;
	font-weight: 600;
	border-bottom: 2px solid #5858fb;
}
.right_panel .sub{
	letter-spacing: 8.7;
}
.next{
	width: 100px;
    border: 2px solid #5858fb !important;
}
.back{
	width: 100;
    border: 2px solid;
}

@media screen and (min-width: 768px){
	.container{
		padding: 0 25px;
		width: auto;
	}
	.row{
		display: block;
		margin-left: 0;
    	margin-right: 0;
	}
	.left_panel,.right_panel{
		width: 100%;
	}
	.gutter .left_panel, .gutter .right_panel{
		margin: 0;
	}
}